<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PokeDex</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>

    <div class="bg-dark collapse" id="navbarHeader" style="">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">Caution</h4>
                    <p class="text-muted">If you find a dingle manati just run</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                   
                    @*<h4 class="text-white">Contact</h4>*@
                    <ul class="list-unstyled">
                        <li><a asp-controller="Regions" asp-action="Index" class="text-white">Pokedex Regions</a></li>
                        <li><a asp-controller="Attacks" asp-action="Index" class="text-white">Pokemons Attacks</a></li>
                        <li><a asp-controller="Types" asp-action="Index" class="text-white">Pokemons Type</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a asp-controller="Pokemons" asp-action="Index" class="navbar-brand d-flex align-items-center">
                <strong>Pokemons</strong>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">

            
            &copy; 2020 - PokeDex - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
